/* Christopher Magnus */

@font-face {
    font-family: NotoSans;
    src: url(../content/NotoSans-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {  
    display: flex;
    font-family: NotoSans;
    flex-direction: column;
    min-height: 100vh;
    max-width: 85%;
    justify-content: center;
    margin: auto;
    text-align: center;
    border: 2px solid #E0E0E0;
    color: #E0E0E0;
    background-color: #121212;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #E0E0E0;
    background-color: #1E1E1E;
    background-image: url("../images/85.png");
    /* Image: https://www.vecteezy.com/vector-art/1434369-hand-drawn-stars-pattern */
    /* Image edited: Removed background. */
    background-size: 500px;
    background-repeat: repeat;
    min-height: calc(100vh - 44px);
    justify-content: center;
}

#headerContent {
    display: flex;
    flex-direction: row;
    background: #1E1E1E;
    border: 2px solid #E0E0E0;
    border-radius: 30px;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    margin-top: 25vh;
}

#headerText {
    padding: 20px;
}

header img {
    width: 240px;
    border-radius: 30px;
}

nav {
    overflow: hidden;
    border-bottom: 2px solid #E0E0E0;
    background-color: #1E1E1E;
    padding: 10px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    list-style: none;
}

nav a {
    font-size: 16px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: #E0E0E0;
    transition: 0.3s;
}

nav a:hover {
    color: #1E1E1E;
    background-color: #E0E0E0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
}

footer {
    border-top: 2px solid #E0E0E0;
    background-color: #1E1E1E;
    padding: 10px;
}

.sectionTitle h2 {
    text-decoration: underline;
}

.sectionContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sectionContent p {
    margin: 15px auto auto auto;
    max-width: 500px;
}

#skills {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 44px);
    scroll-margin-top: 42px;
}

.skill {
    flex: 1;
    margin: 50px;
}

.skill a, p, img {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    color: #E0E0E0;
}

#skills img {
    height: 128px;
    width: 128px;
    object-fit: contain;
}

#projects {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #E0E0E0;
    min-height: calc(100vh - 44px);
    scroll-margin-top: 40px;
}

.project {
    flex: 1;
    margin: 20px;
}

.project a, p, img {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    color: #E0E0E0;
}

#projects img {
    height: 256px;
    width: 256px;
    object-fit: contain;
}

#contact {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #E0E0E0;
    min-height: calc(100vh - 42px - 38.4px);
    scroll-margin-top: 36px;
}

.contactItem {
    margin: 20px;
}

.contactItem a, p, img {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    color: #E0E0E0;
}

#contact img {
    height: 128px;
    width: 128px;
    object-fit: contain;
}

.sticky {
    position: fixed;
    top: 0;
    width: calc(100% - 15%) !important;
    border-top: 2px solid #E0E0E0;
    margin: 0px auto 42px auto;
}

.stickyContent {
    margin-top: 40px;
}