/* Christopher Magnus - 8799889 - cmagnus9889@conestogac.ca - Assignment 2 */

@font-face {
    font-family: NotoSans;
    src: url(../content/NotoSans-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {  
    display: flex;
    font-family: NotoSans;
    flex-direction: column;
    min-height: 100vh;
    max-width: 85%;
    justify-content: center;
    margin: auto;
    text-align: center;
    border-left: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
    color: #E0E0E0;
    background-color: #121212;
}

header {
    position: sticky;
    border-bottom: 2px solid #E0E0E0;
    background-color: #1E1E1E;
}
header > img {
    width: 360px;
}

nav {
    border-bottom: 2px solid #E0E0E0;
    background-color: #1E1E1E;
    padding: 10px;
}

nav > a {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    text-decoration: none;
    color: #E0E0E0;
    transition: 0.3s;
}

nav > a:hover {
    color: #1E1E1E;
    background-color: #E0E0E0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
}

footer {
    border-top: 2px solid #E0E0E0;
    background-color: #1E1E1E;
}